<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">

    <%= link_to 'Restaurants', restaurants_path, class: "navbar-brand" %>
    <%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-primary" %>

  </div>
</nav>
